<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lts.course.dao.IUserDao">
    <resultMap id="userMap" type="user" >
        <id column="user_id" property="userId"></id>
        <result column="user_name" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="age" property="age"></result>
    </resultMap>
    <select id="getAll" resultMap="userMap" >
        SELECT * FROM users
    </select>
    <select id="getById" resultMap="userMap" parameterType="string" >
        SELECT user_id,user_name,password,age FROM users WHERE user_id = #{userId}
    </select>
    <insert id="addUser" parameterType="user" >
        INSERT INTO users (user_id,user_name,password,age)
        VALUES (#{userId},#{userName},#{password},#{age})
    </insert>
    <delete id="deleteUser" parameterType="string" >
        DELETE FROM users
        WHERE user_id = #{userId}
    </delete>
    <update id="updateUser" parameterType="user" >
        UPDATE users
        <set >
            <if test="userName != null" >
                user_name = #{userName},
            </if>
            <if test="password != null" >
                password = #{password},
            </if>
            <if test="age != null" >
                age = #{age},
            </if>
        </set>
        where user_id = #{userId}
    </update>
</mapper>

